<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>			
			<defaults>
        <targetDataStore type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow">
          <patch:attribute name="physicalRootPath">C:\projects\DevOps\Sitecore.SampleAzureProject\SitecoreAzureTest\App_Data\Unicorn\$(configurationName)</patch:attribute>
        </targetDataStore>
			</defaults>
		</unicorn>
	</sitecore>
</configuration>
