<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <powershell>      
      <services>        
        <!--Enabled remoting, by default it is disabled-->
        <remoting enabled="true" requireSecureConnection="false">
          <authorization>
            <!--Granting admin user rights to execute remote scripts-->
            <add Permission="Allow" IdentityType="User" Identity="sitecore\admin" />
          </authorization>
        </remoting>
      </services>
    </powershell>
  </sitecore>
</configuration>